.layoutList {
  display: flex;
  margin-left: 35px;
}

.layoutLink {
  list-style-type: none;
  text-decoration: none;
  color: black;
  margin-right: 50px;
  font-size: 20px;
}

.layoutLi {
  list-style-type: none;
}

.layoutHeader {
  margin-left: 30px;
}

.layoutLine:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 89%;
  padding-top: 8px;
  border-bottom: 1px solid black;
}

.layoutDiv {
  font-family: 'Roboto', sans-serif;
}
